    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    /* ********************************************** */
    /*                 The Writer Style               */
    /* ********************************************** */
    /* ############################################## */
    /*              General page settings             */
    /* ############################################## */
    
    body {
        font-family: 'Open Sans', serif;
        background-color: #d1dce2cc;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .title {
        width: 100%;
        margin: 0;
        padding: 10px;
        background-color: rgb(1, 1, 26);
        color: white;
        font-size: 20px;
        text-align: center;
        user-select: none;
    }
    
    .box {
        width: 260mm;
        margin: 0 auto !important;
    }
    
    .subbox {
        display: inline-flex;
        margin: 0 auto !important;
        width: 100%;
    }
    /* ############################################## */
    /*       stylization of the library elements      */
    /* ############################################## */
    
    .left-nav {
        max-width: 22%;
        min-width: 200px;
        height: 197.5mm;
        margin: 2%;
        background-color: rgb(100, 170, 196);
        overflow: scroll;
        direction: rtl;
        overflow-x: hidden;
    }
    
    .side-nav-title {
        text-align: center;
        user-select: none;
        font-size: 17px;
        color: rgb(7, 7, 97);
        font-weight: bolder;
    }
    
    .dropzone {
        width: 94%;
        height: 96%;
        z-index: 9;
        border: none;
        text-decoration: none;
        outline: none;
        padding: 4mm;
        resize: none;
    }
    
    .droppable-img {
        width: 93%;
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
        z-index: 10;
    }
    
    .droppable-img:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
    
    .library-options {
        text-align: center;
        width: 50%;
        margin-right: 25%;
        user-select: none;
        border: 2px solid rgb(50, 107, 129);
        position: relative;
    }
    
    .library-options .material-icons {
        margin-left: 8px;
        margin-right: 8px;
    }
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    
     ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
     ::-webkit-scrollbar-thumb {
        background: rgb(177, 172, 172);
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(185, 184, 184);
    }
    /* ############################################## */
    /*         stylization of the writing page        */
    /* ############################################## */
    
    .paper {
        background-color: white;
        min-width: 132.3mm;
        height: 187.11mm;
        margin: 2%;
        padding: 5mm;
        font-weight: bold;
        position: relative;
    }
    
    .paper .droppable-img {
        max-width: 240px;
    }
    
    .set-img-pos {
        position: absolute;
        z-index: 10;
        max-width: 150px;
    }
    
    .textarea {
        width: 98%;
        border: none;
        text-decoration: none;
        outline: none;
        background-color: white;
        text-indent: 25px;
        text-decoration: none;
        outline: none;
    }
    
    .textarea:focus {
        border: none;
        text-decoration: none;
    }
    /* ############################################## */
    /*       stylization of modal filter options      */
    /* ############################################## */
    
    .filter-box {
        width: 145px;
        margin-right: -19px;
        background-color: rgba(183, 183, 206, 0.89);
        border: 1px solid rgba(111, 111, 128, 0.781);
        text-align: center;
        position: absolute;
    }
    
    .filter-title {
        font-size: 22px;
        user-select: none;
    }
    
    .filter-subtitle {
        font-size: 18px;
        user-select: none;
    }
    
    .filter-subbox {
        display: flex;
    }
    
    .filter-arrows {
        font-size: 55px;
        padding: 2px;
    }
    
    .filter-option {
        font-size: 16px;
        user-select: none;
    }
    
    .filter-id-box,
    .filter-name-box {
        width: 50%;
    }
    /* ############################################## */
    /*     styling of the text formatting toolbar     */
    /* ############################################## */
    
    .right-nav {
        width: 50px;
        margin: 2%;
        background-color: rgb(100, 170, 196);
        text-align: center;
        padding: 8px;
    }
    
    .save-print-box,
    .align-box,
    .font-box,
    .size-box,
    .color-box {
        border: 2px solid rgb(50, 107, 129);
        margin-bottom: 5%;
        user-select: none;
    }
    
    .material-icons {
        margin: 2px;
        cursor: pointer;
        margin-top: 4px;
    }
    
    .material-icons:hover {
        background-color: rgb(87, 159, 185);
    }
    
    .font-size-field {
        width: 25px;
        border: none;
        padding: 5px;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    .color-icons {
        width: 22px;
        height: 22px;
        border-radius: 11px;
        margin: 5px auto;
        cursor: pointer;
    }
    
    .color-icons:hover {
        opacity: 0.6 !important;
    }
    
    #black {
        background-color: black;
    }
    
    #white {
        background-color: white;
    }
    
    #red {
        background-color: red;
    }
    
    #green {
        background-color: green;
    }
    
    #blue {
        background-color: blue;
    }
    
    #gray {
        background-color: gray;
    }
    
    #yellow {
        background-color: yellow;
    }
    
    #purple {
        background-color: purple;
    }
    /* ############################################## */
    /*        stylization of the new page modal       */
    /* ############################################## */
    
    .background-modal {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.808);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }
    
    .modal {
        width: 30%;
        height: 250px;
        background-color: rgb(249, 253, 255);
        margin: 0 auto;
        border-radius: 4px;
        position: relative;
    }
    
    .modal-title {
        font-size: 25px;
        background-color: rgb(41, 103, 139);
        padding: 10px;
    }
    
    .modal-txt {
        font-size: 18px;
        color: black;
    }
    
    .box-btn {
        background-color: rgb(41, 103, 139);
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    
    .cancel-btn {
        font-size: 20px;
        background-color: red;
        margin: 10px 20px 10px 5px;
        padding: 5px;
        border-radius: 5px;
        border: none;
    }
    
    .confirm-btn {
        font-size: 20px;
        background-color: rgb(25, 161, 20);
        margin: 10px 5px 10px 20px;
        padding: 5px;
        border-radius: 5px;
        border: none;
    }
    
    .confirm-btn:hover,
    .cancel-btn:hover {
        opacity: 0.5;
    }
    
    .confirm-btn:focus,
    .cancel-btn:focus {
        outline: none;
        text-decoration: none;
        border: none;
    }
    /* ############################################## */
    /*                Print page setup                */
    /* ############################################## */
    
    @media print {
        @page rotated {
            size: A4 portrait;
            margin: 3cm;
        }
        .paper {
            width: 255mm;
            height: 350mm;
            margin: 3%;
            padding: 10px;
            font-weight: bold;
            position: relative;
            position: fixed;
            top: 0;
            left: 0;
            margin: 0;
            background-color: violet;
            text-align: center;
        }
        .dropzone {
            width: 90%;
            padding: 5%;
            margin: 0;
            border: none;
            font-size: 165% !important;
        }
    }